* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    color: #000000;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.hero {
    height: 840px;
    background:url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
.hero .radio-group {
    background-color:white;
    color:green;
    border-radius:8px;
    align-items: center;
    justify-content: center;
    width:fit-content;
    margin:0 auto;
    accent-color: green;
     
    
}
.hero p{
    padding-bottom: 20px;
}

.hero-content {
    padding: 0px 120px;
    color:#ffffff;
    font-size: 18px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 24px;
    line-height: 1.2;
}

.text-green {
    color: #30B868;
}


.hero-btns {
    margin-top: 32px;
}

.btn-green, .btn-fill {
    background: #469165;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}
