* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    color: #000000;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
